extends layout
block content
    div.hero-unit
        h1= title
            small Receive messages generated from the Tier 3 cloud. Listen!!!!
        br
        #status
     div.container
        div.row
            div.span4
                h2 Account
                #acctchangefeed
            div.span4
                h2 User
                #userchangefeed
            div.span4
                h2 Server
                #serverchangefeed
$(document).ready(function () {
    $.ajax({
    type: "POST",
    url: "https://api.tier3.com/v2/authentication/login",
    data: {
    "APIKey":"08f1f01192ba420b8d808d93b5654c6e",
    "Password":"[f1B?jVo%`VawoHB"
    },
    contentType: "application/json",
    success: function(data) { alert('data: ' + data); },
        dataType: 'json'
        });
});
